
.button {
	width:100%;
	text-align:center;;
	position: relative;
	display: inline-block;
	margin-top: 1em;
	padding: 0.4em 1.5em;
	background: #146367;
	border-radius: 6px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	color: #FFF;
	-moz-transition: color 0.35s ease-in-out, background-color 0.35s
		ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, background-color 0.35s
		ease-in-out;
	-o-transition: color 0.35s ease-in-out, background-color 0.35s
		ease-in-out;
	-ms-transition: color 0.35s ease-in-out, background-color 0.35s
		ease-in-out;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	cursor: pointer;
}

.button:hover {
	background: #141414;
	color: #FFF !important;
}
#nav {
	margin-left:300px;
	float:left;
	position: absolute; 
	top:30px;
}

#nav ul {
	display: inline-block;
	padding: 0em 3em;
	border-radius: 40px;
	background: #131313;
	filter: alpha(opacity=80);
	opacity:0.8;
}

#nav>ul>li {
	display: inline-block;
}

#nav>ul>li:last-child {
	padding-right: 0;
}

#nav>ul>li>a, #nav>ul>li>span {
		display: block;
		padding: 0.5em 1.5em 1.5em 0.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Microsoft YaHei';
		font-weight: bolder;
		font-size: 0.3em;
		outline: 0;
		color: #7b7b7b;
}

#nav>ul>li>a:hover {
	color: #FFF;
}

#nav li.active a {
	color: #FFF;
}

#nav>ul>li>ul {
	display: none;
}

#nav div{
	margin-top: 20px;
	height:30px;
}

#nav img{
	width: 26px;
	height: 26px;
}

#menu_small{
	position:absolute;
	top:20px;
	right:10%;
	display:none; 
	padding: 0.5em 1.5em;
	border-radius: 20px;
	background: #131313;
	filter: alpha(opacity=80);
	opacity:0.8;
	width:160px;
}

#menu_small a {
	padding: 0em 0em 0.1em 0.1em;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Microsoft YaHei';
	font-weight: bolder;
	font-size: 0.2em;
	color: #7b7b7b;
}

#menu_small a:hover {
	color: #FFF;
}

#menu_small a:active {
	color: #FFF;
}

#menu_small a.active {
	color: #FFF;
}

.shoppingcart{
	margin-left:900px;
	float:left;
	position: absolute; 
	top:100px;
	background-color: #ffffffff
}

.logo_img{
	margin-left:20px;
	float:left;
	position: absolute; 
	top:20px;
}

@media ( max-width : 1200px) {
	#nav {
		margin-left:200px;
		float:left;
		position: absolute; 
		top:30px;
	}
	#nav>ul>li>a, #nav>ul>li>span {
		display: block;
		padding: 0.5em 0.1em 1.0em 0.1em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Microsoft YaHei';
		font-weight: bolder;
		font-size: 0.3em;
		outline: 0;
		color: #7b7b7b;
	}
	.logo_img{
		margin-left:1px;
		float:left;
		position: absolute; 
		top:20px;
	}
}
@media ( max-width : 1000px) {

}
@media ( max-width : 800px) {
	#menu_big{
		display:none;
	}
	#menu_small{
		display:block;
	}
	
	#logo_img{
		width: 150px;
		height:75px;
	}
	
	#gouwuche{
		margin-left:80%;
		top:100px;
	}
}

@media ( max-width : 480px) {
	#logo_img{
		width: 100px;
		height:50px;
	}
}
#footer {
	position: relative;
	background: #121212;
	height: 80px;
	margin-top:50px;
	color: rgba(255, 255, 255, .4);
}

#footer .container {
	color: #FFF;
	vertical-align: middle;
}
